* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
.btnContainer {
    display: flex;
    width: 480px;
    justify-content: space-around;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .btnContainer {
        flex-direction: column;
        row-gap: 20px;
    }
  }
  @media only screen and (max-width: 600px) {
    .btnContainer {
        flex-direction: column;
        row-gap: 20px;
    }
  }

.logo {
  position: absolute;
  left: 10%;
  top: 5%;
  font-size: 33px;
  transition: 1s;
}
.logo:hover {
  color: yellow;
  cursor: pointer;
  animation: rotate 1s ;

}
@media only screen and (max-width: 550px) {
  .logo {
    top: 10px;
    left: 10px;
    font-size: 23px;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.modul {
  background: rgba(35, 29, 202, 0.827);
  margin:0 auto;
  padding:16px 10px;
  width: 100%;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  position: absolute;
  overflow-x:hidden;
  z-index:4;
  
}
.modul h2 {
  font-weight: 500;
  color: rgb(41, 38, 38);
  margin: 5px 0;
}

.modulactive {
  z-index: -1;
}